@model ProjectsListViewModel
@{

}
<section class="ftco-section services-section bg-light">
    <section class="ftco-section ftco-counter img" id="section-counter">
        <div class="container">
            @if (Model.WalkTry.IsWalktry)
            {
                <partial name="~/Views/Shared/_WalkTryPartial.cshtml" model="@Model.WalkTry" />
            }
            <div class="row justify-content-center mb-1">
                <div class="col-md-3 text-center heading-section heading-section-white ftco-animate">
                    <h1>Projects</h1>

                    <a asp-action="SelectSiteType" asp-controller="SiteType" asp-route-clientId="@Model.ClientId" class="btn btn-primary d-block px-3 py-3 mb-4 btn-outline-white">Create</a>
                </div>
                <table class="table table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Last Modified
                            </th>
                            <th>
                                Site Type
                            </th>
                            <th>
                                Added Items
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var proj in Model.Projects)
                        {
                            <tr>
                                <th>
                                    @proj.Name
                                </th>
                                <th>
                                    @proj.Description
                                </th>
                                <th>
                                    @proj.CreatedOn
                                </th>
                                <th>
                                    @proj.ModifiedOn
                                </th>
                                <th>
                                    @proj.ProjectType
                                </th>
                                <th>
                                    @proj.ItemsCount
                                </th>
                                <th>
                                    Actions ---
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>