@model MessageViewModel
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Read Mail</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5>@Model.Subject</h5>
                            <h6>
                                From: @Model.From
                                <span class="mailbox-read-time float-right">@Model.SendDate</span>
                            </h6>
                        </div>
                        <!-- /.mailbox-read-info -->
                        <!-- /.mailbox-controls -->
                        <div class="mailbox-read-message">
                            @Model.Text
                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>

                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <button type="button" class="btn btn-default"><i class="fas fa-reply" onclick="openCity(event, 'inbox')"></i> Close</button>
                        @if (Model.IsDraft)
                        {
                            <a asp-controller="Messages" asp-action="TrashMessage" asp-route-clientId="@Model.ClientOwnerId" asp-route-messageId="@Model.Id" class="btn btn-default"><i class="far fa-trash-alt"></i> Trash</a>
                            <div class="float-right">
                                <form method="post" asp-controller="Messages" asp-action="SendNewMessage">
                                    <input type="hidden" asp-for="@Model.ClientOwnerId" />
                                    <input type="hidden" asp-for="@Model.To" />
                                    <input type="hidden" asp-for="@Model.Subject" />
                                    <input type="hidden" asp-for="@Model.Text" />
                                    <input type="hidden" asp-for="@Model.IsDraft" />
                                    <button type="submit" class="btn btn-primary"><i class="far fa-trash-alt"></i> Send</button>
                                </form>
                            </div>

                        }
                        else if (Model.IsTrash)
                        {
                            <a asp-controller="Messages" asp-action="DeleteMessage" asp-route-clientId="@Model.ClientOwnerId" asp-route-messageId="@Model.Id" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</a>
                        }
                        else
                        {
                            <a asp-controller="Messages" asp-action="TrashMessage" asp-route-clientId="@Model.ClientOwnerId" asp-route-messageId="@Model.Id" class="btn btn-default"><i class="far fa-trash-alt"></i> Trash</a>
                        }
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>