@model CreateSiteTypeViewModel

<section class="ftco-section services-section bg-light ">
    <section class="ftco-section ftco-counter img" id="section-counter">
        <div class="container">
            <div class="row justify-content-center mb-1">
                <div class="col-md-6 text-center heading-section heading-section-white ftco-animate">
                    <h1>Create Project</h1>
                </div>
            </div>
            <div class="col-md-6 offset-3 fadeInUp  ">
                <form method="post" class="container-fluid services">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.ClientId" />
                    <input type="hidden" asp-for="@Model.BuildInType" />
                    <input type="hidden" asp-for="@Model.TemplateName" />
                    <input type="hidden" asp-for="@Model.SiteTypeId" />
                    <div class="form-group">
                        <label asp-for="Name"><i class="zmdi zmdi-email"></i></label>
                        <input asp-for="Name" type="text" name="Name" placeholder="Site Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input asp-for="Description" type="text" name="description" placeholder="Site Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CardApiKey"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input asp-for="CardApiKey" type="text" name="cardApiKey" placeholder="Api Key for card service" />
                        <span asp-validation-for="CardApiKey" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CardServiceGate"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input asp-for="CardServiceGate" type="text" name="cardServiceGate" placeholder="Card service gate" />
                        <span asp-validation-for="CardServiceGate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HostingServiceGate"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input asp-for="HostingServiceGate" type="text" name="hostingServiceGate" placeholder="Hosting Service gate" />
                        <span asp-validation-for="HostingServiceGate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Repository"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input asp-for="Repository" type="text" name="repository" placeholder="Repository name" />
                        <span asp-validation-for="Repository" class="text-danger"></span>
                    </div>

                    <div class="form-group form-button text-center">
                        <input type="submit" class="form-submit" value="Create" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
<div class="row justify-content-center mb-0">
    <a class="btn btn-primary d-block px-3 py-3 mb-4 btn-outline-dark" asp-controller="SiteType" asp-action="SelectSiteType" asp-route-clientId="@Model.ClientId">Back to Select Site Type</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}