@model HomeAreaViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-5">
                <img src="~/mainSite/images/undraw_podcast_q6p7.svg" class="img-fluid" alt="">
                <div class="heading-section ftco-animate mt-5">
                    <h2 class="mb-4">Clients Service Zone</h2>
                    <p>Wish to create something?</p>
                </div>
            </div>
            <div class="col-lg-6 py-5">
                <div class="row">
                    <div class="col-md-6 ftco-animate">
                        @*<a asp-controller="Projects" asp-action="Index" asp-route-clientId="@Model.ClientId" asp-route-walktry="@true">*@
                        <div class="media block-6 services border text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-cloud-computing"></span>
                            </div>
                            <div class="mt-3 media-body media-body-2">
                                <h3 class="heading">Create Site Walktry</h3>
                                <p>Full Guide for Creating your new work gaided</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-6 ftco-animate">
                        <a asp-controller="Contact" asp-action="Index">
                            <div class="media block-6 services border text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-cloud"></span>
                                </div>
                                <div class="mt-3 media-body media-body-2">
                                    <h3 class="heading">Sonic Widject Walktry</h3>
                                    <p>Manage your Account Sonic Widjets gaided</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 ftco-animate">
                        <a asp-controller="Contact" asp-action="Index">
                            <div class="media block-6 services border text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-server"></span>
                                </div>
                                <div class="mt-3 media-body media-body-2">
                                    <h3 class="heading">Settings Walktry</h3>
                                    <p>Get in detail about your setings guided</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 ftco-animate">
                        <a asp-controller="Contact" asp-action="Index">
                            <div class="media block-6 services border text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="flaticon-database"></span>
                                </div>
                                <div class="mt-3 media-body media-body-2">
                                    <h3 class="heading">Contact</h3>
                                    <p>Get in contact with SSB-Creators</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @if (Model.HomePosts.Count() == 0)
            {
                <h1>Blog is still empty.</h1>
            }
            else
            {
                @foreach (var post in Model.HomePosts)
                {
                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <a asp-controller="Blog" asp-action="Post" asp-route-postId="@post.PostId" class="block-20" style="background-image: url('/mainSite/images/image_1.jpg');">
                            </a>
                            <div class="text d-flex py-4">
                                <div class="meta mb-3">
                                    <div><a>@post.PubDate</a></div>
                                    <div><a>@post.AuthorName</a></div>
                                </div>
                                <div class="desc pl-3">
                                    <h3 class="heading"><a href="#">@post.Header</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>